.navbar {
  display: flex;
  height: 80px;
  align-content: center;
  padding: 15px;
  justify-content: space-between;
  &__logo,
  &__burger {
    height: 55px;
  }
  &__burger {
    justify-self: flex-end;
  }
  background:#ca5d5d 0.9%;
}

@media screen and (min-width: 600px) {
  .navbar {
    height: 100px;
    padding: 20px;
    &__logo,
    &__burger {
      height: 85px;
    }
    &__burger {
      background: #e5e5e5;
      border-radius: 100%;
      path {
        fill: #434242;
      }
    }
  }
}
